h1 {
	display:block;
  text-align:center;
  font-weight:700;
}

.portrait {
	margin-top:50px;
  margin-left:500px;
  float:center;
}

#headdiv {
  border-radius:5px;
  width:1000px;
  height:13px;
	margin: auto;
  background-color:#2e34e6;
}

.link {
	float:left;
  border-radius:5px;
  background:#ff4500;
  margin:50px 20px;
  width:150px;
  height:50px;
  line-height:20px;
  text-align:center;
  color:#000000;
  text-decoration:none;
  font-family:Arial Rounded MT Bold;
  clear:left
}

#space {
  border-radius:5px;
  margin:50px 20px;
  width:150px;
  height:550px;
  float:left;
  clear:left;
}

h2 {
  font-family:Trebuchet MS;
  font-size:48px;
  font-weight:bold;
}

h3 {
  font-family:Trebuchet MS;
  font-size:32px;
  font-weight:bold;
}

.info {
  font-family:Trebuchet MS;
  font-size:18px; 
}

.job{
  font-family:Trebuchet MS;
  font-size:18px;
  font-weight:bold;
}

a.link:hover {
  background-color:#ffa500;
}

a#pcontact {
	text-decoration:none;
	color:#0000ff
}
	
a#pcontact:hover {
  text-decoration:underline;
	}

#footer{
  display:block;
  clear:both;
  text-align:center;
  font-family:Trebuchet MS;
}