h1 {
	display:block;
  text-align:center;
  font-weight:700;
}

header{
background-color:#ffffc1;
}

body{
background-color:#ffffc1;
}

.portrait {
	margin-top:50px;
  margin-left:500px;
  float:center;
}

#headdiv {
  border-radius:5px;
  width:1275px;
  height:13px;
	margin: auto;
  background-color:#2e34e6;
}

.link {
	float:left;
  border-radius:5px;
  background:#ff4500;
  margin:5px 20px;
  width:150px;
  height:50px;
  line-height:20px;
  text-align:center;
  color:#000000;
  text-decoration:none;
  font-family:Arial Rounded MT Bold;
  clear:left
}

ul {
  list-style-type:none;
}

.projectname{
  font-size:30px;
  font-family:Trebuchet MS;
  font-weight:bold
}

.projectdesc{
  font-size:30px;
  font-family:Times New Roman;
}

a.projectlink {
  color:blue;
  font-size:30px;
  font-family:Times New Roman;
  text-decoration:none;
}

a.projectlink:hover {
  text-decoration:underline;
}

a.projectlink:visited {
  color:#8A2BE2
}

a.link:hover {
  background-color:#ffa500;
}

a#pcontact {
	text-decoration:none;
	color:#0000ff
}
	
a#pcontact:hover {
  text-decoration:underline;
	}

#footer{
  display:block;
  clear:both;
  text-align:center;
}