header {
		display:block;
		text-align: center;
		background-color:#ffffc1;
}

body {
	background-color:#ffffc1;
}

.headimg {
	display: block;
	margin: auto;
}

.portrait {
	margin-top:50px;
  margin-left:500px;
  float:center;
}


#headdiv {
  border-radius:5px;
  width:1275px;
  height:13px;
	margin: auto;
  background-color:#2e34e6;
}
.link {
	float:left;
  border-radius:5px;
  background:#ff4500;
  margin:50px 20px;
  width:150px;
  height:50px;
  line-height:20px;
  text-align:center;
  color:#000000;
  text-decoration:none;
  font-family:Arial Rounded MT Bold;
  clear:left
}


.content {
	margin-left:500px;
  float:center;
	text-align: left;
	clear:right;
  font-family:Trebuhet MS;
}

a.link:hover {
  background-color:#ffa500;
}

a#pcontact {
	text-decoration:none;
	color:#0000ff
}
	
a#pcontact:hover {
  text-decoration:underline;
	}

#footer{
  display:block;
  clear:both;
  text-align:center;
}