header {
		display:block;
		text-align: center;
}

.headimg {
	display: block;
	margin: auto;
}

.portrait {
	display: block;
	float: right;
}

#headdiv {
	display: block;
	margin: auto;
	clear: both;
	color:#2e34e6;
	
}
p {
	display: block;
	text-align: right;
	clear:both;
}

a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#00ff00;
	}
